.where-to-go {
  padding: 0 5%;

  @include mq(tabletp) {
    padding: 0 9%;
  }

  // @include mq(desktop) {
  //   padding: 0 24%;
  // }

  // @include mq(tabletp) {
  //   padding: 0 21%;
  // }

  h1 {
    //margin-bottom: 70px;
    font-size: 43px;
    padding: 0 9%;

    @include mq(tabletp) {
      font-size: 63px;
    }
  }

  .dropdown {
    margin: 0 auto;
    font-size: 30px;

    @include mq(desktop) {
      max-width: 625px;
    }
  }
}
