// - - - - - - - - - - - - - - - - - -

// Personal Blog

// - - - - - - - - - - - - - - - - - -

.blog {

  padding : 0 3% 2% 2%;
  &-item {
    border-bottom: 1px solid gray;
    color: black;
    display: block;
    padding: 2rem 0;

    &:hover .blog-line,
    &:focus .blog-line {
      color: $accent-color;
      width: 5em;
    }

    &:hover .blog-title {
      color: $accent-color;
    }

    &:hover .blog-date {
      color: $accent-color;
    }

    &:hover .blog-reading-time {
      color: $accent-color;
    }

    &:last-child {
      border: 0;
    }
  }

  &-date {
    color: $text-medium-color;
    font-family: serif;
    letter-spacing: .9px;
  }
  &-reading-time {
    color: $text-medium-color;
    font-family: serif;
    letter-spacing: .9px;
    padding-left: .5rem;
    font-style: italic;
    display: inline;
  }

  &-title {
    display: block;
    font-family: serif;
    margin: .5rem 0;
    text-align: left;
    text-transform: none;
    max-width:100% !important;
  }

  &-content {
    max-width:100% !important;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid;
    color: $text-dark-color;
    display: block;
    width: 2rem;
  }
}
