// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Footer

.footer {
  padding: 20px;
  text-align: center;

  @include mq(tabletp) {

  }

  @include mq(tabletl) {

  }

  @include mq(laptop) {

  }
}

.footer__copyright {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: $text-light-color;

  a {
    margin-left: 10px;
    color: $text-light-color;
    font-weight: $regular-weight;

    &:hover {
      color: $text-medium-color;
    }
  }
}