// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {
	margin-top: 0;
	padding: $grid-spacing/2;
}

.portfolio-wrap {

}

.portfolio-mobile {
  display:block;


  @include mq(tabletl) {
    display:none;
  }
}

.portfolio-item {
	position: relative;
	padding: $grid-spacing/2;
  width: 100%;
  float: left;

  @include mq(tabletp) {
    width: 50%;
  }

  @include mq(laptop) {
    width: 50%;
  }
}

.portfolio-item-mobile {
 position: relative;
 border-color: #00000030;
 border-style: solid;
 border-width: 1px;
 padding: 1px;
 padding-bottom: 55px;
    h2 {
      color: $accent_color !important;
    }

}

.portfolio-item__link {
	position: relative;
	display: block;

	@include mq(tabletl) {

		&:hover {

			.portfolio-item__content {

			}
      .portfolio-item__image {
        /*filter : brightness(100%);*/
        transform: scale(1.02);
      }
		}
	}
}

.portfolio-item__image {
	width: 100%;
  /*filter : brightness(80%);*/
  transition: transform .2s;
}

.portfolio-item__content {
	position: absolute;
	/*top: 0;*/
	right: 10px;
	bottom: 10px;
	left: 10px;
	/*display: flex;*/
	/*align-items: center;
	justify-content: center;
	background: rgba($overlay-background-color, $overlay -opacity);

	opacity: 0;
	visibility: hidden;
	@include transition(all 0.2s ease-in-out);*/

  background: none;
  opacity: 1;
  visibility: visible;
}

.portfolio-item__info {
  text-align: left;
}
.portfolio-item__info__mobile {
  text-align: center;
}
.button__mobile{
  font-size: 18px;
  display: inline;
}

.portfolio-item__title {
  font-family: $grid-item-title-font;
	color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;
  text-transform: uppercase;


	@include mq(tabletp) {
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.portfolio-item__title__mobile {
  font-family: $grid-item-title-font;
  color: black;
  font-size: $grid-item-title-small;
  font-weight: $grid-item-title-weight;
  letter-spacing: $grid-item-title-spacing;
  text-transform: uppercase;
}
.portfolio-item__hr{
  margin-top: 15px;
  margin-bottom: 0;
  width:90px;
  background: #fff;
}

.portfolio-item__subtitle {
	margin-top: 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}
