---
layout: default
---

<section class="intro">
  <div class="wrap">
    <h1>{{ page.title }}</h1>
  </div>
</section>

<section class="single">
  <div class="wrap">
    {{ page.content }}
  </div>
</section>


<!-- {% for category in page.categories[0] %} -->

{% assign category = page.categories[0] %}
{% assign relatedPosts = site.categories[category] %}


{% if relatedPosts.size > 1 %}

  <section	class="single related">
    <div class="wrap">
      <h4>see also...</h4>
      <hr/>
      {% for post in relatedPosts %}
        {% if post.title != page.title %}
          <p>
            <a class="" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
          </p>
          {% if forloop.index >= 5 %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}
<!-- {% endfor %} -->