---
layout: default
---
<!--
{% capture category_name %}{{ page.title | downcase }}{% endcapture %}
<div id="archives">
  <div class="archive-group">
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
</div>-->


<section class="portfolio">

  <div class="content-wrap portfolio-wrap">
    {% for post in site.categories[category_name] %}

    <div class="portfolio-item">


        <a class="portfolio-item__link" href="{{ site.baseurl }}{{ post.url }}">

        <div class="portfolio-item__image">

          <img src="{{ post.featured_image }}" alt="{{ post.title }}">
        </div>

        <div class="portfolio-item__content">
          <div class="portfolio-item__info">
            <h2 class="portfolio-item__title">{{ post.title }}</h2>
            <hr class="portfolio-item__hr">
            <p class="portfolio-item__subtitle">{{ post.subtitle }}</p>
          </div>
        </div>

      </a>

    </div>
    {% endfor %}

  </div>

</section>
